node_modules
.env


# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Frontend build
frontend/dist/

# Backend logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/